/* CSS Document */
/***************Top Margin *******************/

.sitecontainer .container.top-nav {
	padding-top:25px;    padding-bottom:25px;}

/***************Typographic User Values *********************************/

/* Navigation Font */

.sf-menu a, .ajax-select ul.sf-menu li li a  {
font-family:"Source Sans Pro", arial, sans-serif;font-weight: bold;text-transform:uppercase;font-size:13px;
}

/* Slider Caption, Page Title, and Section Title Font */

.pagetitle h1, .homecaption h2, .section h2, #logo h1 a, #logo h2 a {
font-family:"Source Sans Pro", arial, sans-serif;font-weight: bold; letter-spacing:-.075em;text-transform:none;}

/* Subtitle Font */
.pagetitle h2 {
font-family:"Source Sans Pro", arial, sans-serif;font-weight:normal;text-transform:none;}

/* Blog and Portfolio Item Font */
h2.title, h2.title a, .post .date h4.day {
font-family:"Source Sans Pro", arial, sans-serif;font-weight: bold; letter-spacing:-.075em;text-transform:none;}

/* Content Area Fonts */

h1, h1 a, 
h2, h2 a, 
h3, h3 a, 
h4, h4 a, 
h5, h5 a,
h6, h6 a,
.ag-pricing-cost {
font-family:"Source Sans Pro", arial, sans-serif;font-weight: bold; letter-spacing:-.075em;}

/* Button Fonts */

.button, a.button, a.more-link, #submit, input[type='submit'] {
font-family:"Source Sans Pro", arial, sans-serif;font-weight: bold;text-transform:none;}

/* Tiny Details Font */

h5, h5 a, .widget h3, .widget h2, .widget h4, h4.widget-title, .ag-pricing-table .ag-pricing-header h5 {  
font-family:"Source Sans Pro", arial, sans-serif;font-weight: bold;text-transform:uppercase;}


/* Paragraph Font */

html, body, input, textarea, p, ul, ol, .button, .ui-tabs-vertical .ui-tabs-nav li a span.text,
.footer p, .footer ul, .footer ol, .footer.button, .credits p,
.credits ul, .credits ol, .credits.button, .footer textarea, .footer input, .testimonial p, 
.contactsubmit label, .contactsubmit input[type=text], .contactsubmit textarea, h2 span.date, .articleinner h1,
.articleinner h2, .articleinner h3, .articleinner h4, .articleinner h5, .articleinner h6, .nivo-caption h1,
.nivo-caption h2, .nivo-caption h3, .nivo-caption h4, .nivo-caption h5, .nivo-caption h6, .nivo-caption h1 a,
.nivo-caption h2 a, .nivo-caption h3 a, .nivo-caption h4 a, .nivo-caption h5 a, .nivo-caption h6 a,
#cancel-comment-reply-link {
font-family:"Droid Sans", arial, sans-serif;font-weight:normal;text-transform:none;}
